@{
    Layout = "_Layout";
}
<div class="well" style="background-color:#887672">
        <div class = "jumbotron">
            <h1 align="center" style="font-family:verdana"> [NTR.A] - Zadanie 2 </h1>
        </div>
    </div>